$bg: #282a36;
$pink: #FF79C6;
$purple: #BD93F9;

body {
  background-color: $bg;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
canvas {
    filter: blur(150px);
    z-index: -10;
}

.section-title:before {
  border-bottom: 18px solid $purple;
  width: 10rem;
  position: relative;
  margin: 0 auto;
  left: 3.5rem;
  top: 4rem;
  content: '';
  display: block;
  z-index: -1;
}